:root {
  --nav-color: #bebebe;
  --main-color: white;
  --text-color: black;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

main {
  font-size: 1.6rem;
}

/* Navbar */

.navbar {
  position: fixed;
  background-color: var(--nav-color);
  font-size: 2rem;
  transition: height 500ms ease;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}

.navbar-nav li {
  transition: transform 500ms ease;
}
.navbar-nav li:hover {
  transform: rotate(360deg) scale(1.5);
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 5rem;
    width: 100%;
    bottom: 0;
  }
  .navbar-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  main {
    margin-bottom: 5rem;
    padding: 1rem;
  }
}

/* Desktop */
@media (min-width: 501px) {
  .navbar {
    height: 100%;
    width: 5rem;
    bottom: 0;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    padding: 1rem;
  }

  .navbar li:last-child {
    margin-top: auto;
  }

  main {
    margin-left: 5rem;
    padding: 1rem;
  }
}

/* Dark Mode */
body.dark {
  --nav-color: #222222;
  --main-color: #000000;
  --text-color: #ffffff;
}
